<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kb50.companyxcontent"
    android:versionCode="1"
    android:versionName="1.0" >

    
       <permission android:description="@string/permission_description"
            android:icon="@drawable/ic_launcher"
            android:label="Read company details"
            android:name="kb50.companyxcontentprovider.GET"
            
            android:protectionLevel="dangerous"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    
      
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
             android:exported="true" 
            android:name=".CompanyProvider"
            android:authorities="com.example.appcontentprovider.CompanyProvider" >
        </provider>

                
    </application>

</manifest>
